body {
	font-family: Druk Text Wide , Arial, Georgia, Sans-serif;
	margin: 20px;

}
@media (min-width: 768px){
  #left {
    position: absolute;

    top: 0px;
    bottom: 0;
    left: 0;
    width: 50%;
    overflow-y: scroll; 

  }
  
  #right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 50%;
    

  }
}
.right-content {

  
}
.left-content{


}

#left {
  background-color: red;
  text-align: center;
  height:100%;

}

#right {
  background-color:#00FF00;
  text-align: center;
  height:100%;

}

.image {
	position: relative;

	
}