body {
  font-family: Px Grotesk, mplus-1m-regular, Vivaldi, Sans-serif;
  font-weight: 100;
  font-size: 12px;
  margin: 0;
  background: #ededed;

}


                                  /*HEADER & FOOTER*/
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #d8d8d8;
   color: black;
   text-align: center;
   line-height: 0.5em;
	font-family: Vivaldi;
	font-size: 17px;
	margin-bottom: -3px;
	z-index: 2;
  }

  .header{
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   background-color: #d8d8d8;
   color: black;
   text-align: center;
   line-height: 0.1;
   z-index: 4;
  }

.year{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   padding-bottom: 13px;
   line-height: 0.9em;
	font-family: Px Grotesk;
	font-size: 12px;
	word-spacing: 130px;
	z-index: 4;
}

.leftfoot{
	position: fixed;
    left: 0;
    bottom: 0;
	line-height: 0.1em;
	font-family: mplus-1m-regular;
	font-size: 12px;
	padding-left: 15px;
	padding-bottom: 5px;
	z-index: 3;
}

.rightfoot{
	position: fixed;
	text-align: right;
    right: 0;
    bottom: 0;
	line-height: 0.1em;
	font-family: mplus-1m-regular;
	font-size: 12px;
	padding-right: 15px;
	padding-bottom: 5px;
	z-index: 3;
}


                                  /*INDEX*/

.index{
position: relative;
margin-top: 39px;
line-height: 0.6;
z-index: 0;
}


table.table1 {
  border-collapse: collapse;
  width: 32%;
}

table.table1 th{
  overflow: auto;
  width: 25%;
  padding-left: 9px;
  padding-top: 9px;
  padding-bottom: 6px;
  padding-right: 4px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family:  mplus-1m-regular;
}

table.table1 td{
  padding-left: 8px;
  padding-top: 9px;
  padding-bottom: 6px;
  padding-right: 4px;
  text-align: right;
  border-bottom: 1px solid #ddd;
  font-family: Vivaldi;
  font-size: 17px;
}

 
                               /*GALLERY*/


.gallery {
  height: 100%;
  width: 31.6%;
  overflow: scroll;
  position: absolute;
  left: 4px;
  background: white;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.switch{
  z-index: 6;
  position: absolute;
  margin-left: 30px;
}

.image {
   width: 50%;
   height: auto;
   position: relative;
   float: left;
   }

                      
                               /*THESIS TEXT*/
.container{
 position: fixed;
 z-index: 2;
 top: 39px;
 right: 0px;
 bottom: 66px;
 background: #f7f7f7;
 width: 67.6%;
 height: auto;
 overflow: auto;
 scroll-behavior: smooth;
}

.stretch {
    width:auto;
    height:100%;
    margin-left: 10%;
}

.sticky {
  position: sticky;
  top: 0px; 
  background: #f7f7f7;
}

.abstract{
  font-size: 17px;
  margin-left: 10%;
  font-family:  Stanley;
  line-height: auto;
  padding-right: 10%;
  
}

.bodytext{
  font-size: 17px;
  margin-left: 10%;
  font-family:  Stanley;
  line-height: 1.5;
  padding-right: 10%;
}
.notes{
  width: 100%;

}

table.table2 {
  border-collapse: collapse;
  width: 100%;
  line-height: 0.6;
 
}


table.table2 th{
  width:40%;
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family:  mplus-1m-regular;

}
table.table2 td{

  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 8px;
  text-align: right;
  border-bottom: 1px solid #ddd;
  font-family: mplus-1m-regular;
}

#myDIV {
  width: 100%;
  padding: 10px 0;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: mplus-1m-regular;
  font-size: 12px;  
}
.footnotesdiv {
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: baseline;
    display: inline-block;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}
span.footnotes {
    font-size: 10pt;
    color: black;
    background-color: yellow;
    line-height: 0.5;
}

.link { 
	color: black; 
	text-decoration: none;
} 

.link:hover { 
     color: #002aff; 
     font-style: italic;

} 


















